.contacts__block {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10%;
}

.contacts__content {
  width: 50%;
}

.contacts__address,
.contacts__email,
.contacts__phone,
.contacts__hours {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.contacts__map {
  width: 50%;
  height: 425px;
}

.social__link {
  margin-right: 20px;
}
