.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
}

.contacts__content {
  max-width: 324px;
}

.contacts__address,
.contacts__email,
.contacts__phone,
.contacts__hours {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.contacts__map {
  width: 600px;
  height: 425px;
}

.contacts__form {
  text-align: center;
}

.social__link {
  margin-right: 20px;
}

.form {
  position: relative;
}

.form__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 21px;
}

.form__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form__email {
  width: 800px;
  height: 60px;
  border: 1px solid #000000;
  border-radius: 50px;
  font-size: 24px;
  padding-left: 28px;
  outline: none;
}

.form__button {
  position: absolute;
  right: 180px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
