.menu__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.menu__card {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  margin-bottom: 50px;
  margin-top: 60px;
}

.menu__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.card__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 11px;
}

.card__text {
  margin-bottom: 13px;
  flex-grow: 1;
  font-size: 18px;
}

.card__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

.card__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price {
  font-size: 24px;
  font-weight: bold;
}

.card__button {
  padding: 12px 50px;
  font-size: 24px;
  font-weight: bold;
}

.choosen__type {
  padding: 12px 25px;
  flex-basis: 50%;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background-color: #c4c4c4;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.choosen__type:nth-child(1) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.choosen__type:nth-child(2) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.choosen__type:hover {
  background-color: #b70e0e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.choosen__type.active {
  background-color: #000000;
}

.product__params {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  border-radius: 50px;
  font-size: 24px;
  background-color: #d9d9d9;
}

.product__params button {
  padding: 12px;
  width: 30%;
  font-size: 24px;
  border-radius: 50px;
  background-color: transparent;
  color: inherit;
}

.product__params button:hover {
  background-color: transparent;
}
