.delivery__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.delivery__content {
  max-width: 550px;
}

.delivery__title {
  font-size: 48px;
  margin-bottom: 40px;
  max-width: 400px;
}

.delivery__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.delivery__button {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 11px 90px;
}

.delivery__image {
  border-radius: 30px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.delivery__img {
  border-radius: 30px;
}
