.popup {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup__block {
  position: relative;
  margin: auto;
  max-width: 500px;
  width: 95%;
  background: #ffffff;
  border-radius: 30px;
  padding: 35px;
}

.popup__header {
  text-align: center;
}

.popup__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 12px;
}

.popup__image {
  display: block;
  margin: auto;
  width: 30%;
}

.order__title,
.order__price {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
}

.order__title {
  margin-right: 5px;
}

.order__type {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #6a6a6a;
  padding-bottom: 10px;
}

.order__comment {
  display: block;
  margin: auto;
  width: 230px;
  height: 90px;
  padding: 8px 22px;
  font-size: 14px;
  color: #6a6a6a;
  background-color: #d4d4d4;
  resize: none;
  border: none;
  margin-bottom: 20px;
}

.order__button {
  display: block;
  margin: auto;
  height: 50px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  padding: 10px 64px;
  background-color: #b70e0e;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.order__button:hover {
  background-color: #eb2c2c;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input {
  display: block;
  margin: auto;
  width: 230px;
  height: 40px;
  padding: 12px 22px;
  background-color: #d4d4d4;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  color: #6f6f6f;
  outline: none;
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  margin-left: 50px;
  cursor: pointer;
}

.energy__titile {
  margin-top: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #6a6a6a;
}

.energy__info {
  margin: 5px 50px 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.energy__info .info__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.energy__info .info__item:not(:first-child):before {
  content: '';
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 100%;
  background-color: #d9d9d9;
}

.energy__info .item__value {
  font-weight: 600;
}

.additional__info {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.additional__info .info__item {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.additional__info .info__item label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.additional__info .info__item input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  background-color: #ffffff;
  outline: none;
  transition: 0.3s;
}

.additional__info .info__item input:focus,
.additional__info .info__item input:hover {
  border-color: #b70e0e;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  transition: 0.3s;
}

.additional__info .info__item input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.additional__info .info__item input[type='checkbox'] + label:after {
  position: absolute;
  right: 0;
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.additional__info .info__item input[type='checkbox']:checked + label:after {
  border-color: #b70e0e;
  background-color: #b70e0e;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.additional__info .info__item input[type='checkbox']:not(:disabled):not(:checked) + label:hover::after {
  border-color: #b70e0e;
}

.additional__info .info__item input[type='checkbox']:not(:disabled):active + label::after {
  background-color: #ffb3b3;
  border-color: #ffb3b3;
}

.additional__info .info__item input[type='checkbox']:focus + label::after {
  box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.25);
}

.additional__info .info__item input[type='checkbox']:focus:not(:checked) + label::after {
  border-color: #ff8080;
}

.additional__info .info__item input[type='checkbox']:disabled + label::after {
  background-color: #e9ecef;
}
