.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.menu {
  background-color: #000000;
  padding: 10px 0;
}

.navbar__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar__link {
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__link:hover {
  color: #eed91b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__phone {
  padding: 14px 12px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar__phone:hover {
  background-color: #ffffff;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
